
.container {
  width: 95%;
}
body {
  background-color: #CCCCCC;

}
header h1{
  text-align: center;
  text-decoration: underline;
}
nav {
    text-align: center;

}
nav ul {
  list-style: square;
}
nav li {
  display: inline-block;
}
.page {
  width: 780px;
  margin: auto;
  font-size: 16px;
  font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
  padding: 40px;
  border: 5px solid #3388CC;
  border-radius: 10px;
  box-shadow: 2px 4px 3px black;
  background-color: #FFFFFF;
}
.infophoto {
  height: 250px;
}
.info {
  float:left;
}
.photo {
  float: right;
}
.section {
  margin-bottom: 70px;
  text-align: justify;
}
.section:hover{
  color: #00AA00;
}
.left {
  float:left;
  font-weight: bold;
  font-size: 20px;
}
#leftform p {
  margin-bottom: 37px;
}
.titre {
  font-weight: bold;
  font-size: 20px;
}
.right {
  margin-left: 150px;
  margin-top: 37px;
}
#lang p {
  margin-bottom: 30px;
}
h2 {
  font-size: 28px;
  color: #3388BB;
  text-transform: uppercase;
  border-bottom: 3px solid #3388BB;
}
footer {
  text-align: center;
}
